.banner-room__title {
  font-weight: 700;
  font-size: 90px;
  line-height: 0.88889;
  text-transform: uppercase;
  text-align: center;
  padding-top: 335px;
  padding-bottom: 335px;
  margin-bottom: 100px;
}

.banner-room__title_vibes {
  background: url('../img/room/vibes80s.png') 50% / cover no-repeat;
}

.banner-room__title_star {
  background: url('../img/room/star.png') 50% / cover no-repeat;
}

.banner-room__title_wild {
  background: url('../img/room/wild_west.png') 50% / cover no-repeat;
}

.banner-room__title_neon {
  background: url('../img/room/neon_style.png') 50% / cover no-repeat;
}

.banner-room__text {
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  font-weight: 700;
  max-width: 1000px;
  margin: 0 auto;
}

/* ------------------------ */
@media (max-width: 1024px) {
  .banner-room__title {
    padding-top: 277px;
    padding-bottom: 277px;
    margin-bottom: 70px;
  }

  .banner-room__text {
    font-size: 20px;
    max-width: 800px;
  }
}