.halls {
  padding-bottom: 95px;
}

.halls__title {
  margin-bottom: 60px;
}

.halls__link {
  font-weight: 700;
  font-size: 70px;
  line-height: 1.14286;
  text-transform: uppercase;
  color: var(--white-color);
  width: 100%;
  display: inline-block;
  padding: 94px 0;
  transition-duration: 200ms;
}

.halls__link:hover {
  color: var(--darkpurple-color);
}

.halls__link:focus {
  color: var(--darkpurple-color);
}

.halls__link:active {
  color: var(--purple-color);
}

.halls__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.halls__item {
  max-width: 580px;
  text-align: center;
}

.halls__item_vibes {
  background: url("../img/80vibes.jpg") 0 0 no-repeat;
}

.halls__item_star {
  background: url("../img/starwars.jpg") no-repeat;
}

.halls__item_wild {
  background: url("../img/wildwest.jpg") no-repeat;
}

.halls__item_neon {
  background: url("../img/neonstyle.jpg") no-repeat;
}

.halls__span {
  display: block;
}

/* ---------------/halls-------- */
@media (max-width: 1024px) {
  .halls {
    padding-top: 35px;
    padding-bottom: 70px;
  }

  .halls__item {
    max-width: 443px;
  }

  .halls__title {
    margin-bottom: 36px;
  }

  .halls__link {
    font-size: 50px;
    line-height: 1.2;
    padding: 73px 0;
  }
}


@media (max-width: 768px) {
  .halls {
    padding-top: 30px;
    padding-bottom: 62px;
  }

  .halls__item {
    max-width: 335px;
  }

  .halls__title {
    margin-bottom: 35px;
  }

  .halls__link {
    font-size: 40px;
    line-height: 1.25;
    padding: 73px 0;
  }
}

@media (max-width: 480px) {
  .halls {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .halls__title {
    margin-bottom: 15px;
  }

  .halls__item {
    max-width: 280px;
  }

  .halls__link {
    font-size: 26px;
    line-height: 1.30769;
    padding: 50px 0;
  }

  .halls__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px 0px;
  }
}