.halls {
  padding-bottom: 95px;
}

.halls__title {
  margin-bottom: 60px;
}

.halls__link {
  font-weight: 700;
  font-size: 70px;
  line-height: 1.14286;
  text-transform: uppercase;
<<<<<<< HEAD
  color: var( --white-color);
=======
  color: var(--main-white);
>>>>>>> 5e558e4815d84ed1f8e5e83a74c7b0eca0feef51
  width: 580px;
  display: inline-block;
  padding: 94px 0;
  transition-duration: 200ms;
}

<<<<<<< HEAD
.halls__link:hover {
  color: var( --darkpurple-color);
}

.halls__link:focus {
  color: var( --darkpurple-color);
}

.halls__link:active {
  color: var(--purple-color);
=======
.halls__link:hover,
.halls__link:focus {
  color: var(--main-hov-color);
}

.halls__link:active {
  color: var(--main-act-color);
>>>>>>> 5e558e4815d84ed1f8e5e83a74c7b0eca0feef51
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.halls__item {
  flex: 0 1 580px;
  text-align: center;
}

.halls__item_vibes {
  background: url("../img/80vibes.jpg") no-repeat;
}

.halls__item_star {
  background: url("../img/starwars.jpg") no-repeat;
}

.halls__item_wild {
  background: url("../img/wildwest.jpg") no-repeat;
}

.halls__item_neon {
  background: url("../img/neonstyle.jpg") no-repeat;
}

.halls__span {
  display: block;
}

/* ---------------/halls-------- */