.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__picture{
  flex: 0 1 120px;
}
.header__img {
 width: 100%;
  object-fit: cover;
}
.burger{
  display: none;
}
.header__list {
  display: flex;
  gap: 40px;
}

.header__link {
  font-size: 22px;
  line-height: 2.27273;
  text-transform: uppercase;
  transition-duration: 200ms;
}

.header__button {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.36364;
  text-transform: uppercase;
  color: var(--white-color);
  border: 3px solid var(--lightpurple-color);
  border-radius: 10px;
  padding: 12px 32px;
  transition-duration: 200ms;
}

.header__link:hover,
.header__link:focus {
  color: var(--darkpurple-color);
}

.header__link:active {
  color: var(--purple-color);
}

.header__button:hover {
  border-color: var(--darkpurple-color);
  background-color: var(--darkpurple-color);
}

.header__button:focus {
  background-color: var(--darkpurple-color);
}

.header__button:active {
  outline: 1px solid #000;
  background-color: var(--purple-color);
}

@media (max-width: 1130px) {
  .header__nav {
    gap: 5px;
  }

  .header__img {
    max-width: 87px;
  }

  .header__list {
    display: flex;
    gap: 20px;
  }

  .header__link {
    font-size: 18px;
    line-height: 1.22222;
  }

  .header__button {
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 26px;
  }
}

@media (max-width: 880px) {
  .header__list {
    display: none;
  }
  .burger{
    display: block;
  }
}

@media (max-width: 500px) {
  .header__button {
    display: none;
  }

  .header__img {
    max-width: 66px;
  }
}