.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__img {
  max-width: 120px;
  object-fit: cover;
}

.header__list {
  display: flex;
  gap: 40px;
}

.header__link {
  font-size: 22px;
  line-height: 2.27273;
  text-transform: uppercase;
  transition-duration: 200ms;
}

.header__button {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.36364;
  text-transform: uppercase;
  color: var(--main-white);
  border: 3px solid var(--main-pur-color);
  border-radius: 10px;
  padding: 12px 32px;
  transition-duration: 200ms;
}

.header__link:hover,
.header__link:focus {
  color: var(--main-hov-color);
}

.header__link:active {
  color: var(--main-act-color);
}

.header__button:hover {
  border-color: var(--main-hov-color);
  background-color: var(--main-hov-color);
}

.header__button:focus {
  background-color: var(--main-hov-color);
}

.header__button:active {
  outline: 1px solid #000;
  background-color: var(--main-act-color);
}