.reserve {
  background-color: var(--backgraund-color);
  padding: 85px 0px 75px 0px;
}

.reserve__title {
  margin-bottom: 40px;
}

input[type="checkbox"] {
  margin-right: 12px;
}

.form__list,
.form__item {
  display: inline-block;
}

.form__block {
  max-width: 980px;
  margin: 0 auto;
}

.reserve__fieldset {
  margin-bottom: 60px;
}

/* ------------Выбери зал---------- */
.hall {
  display: flex;
  gap: 60px;
}

.legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
}

.legend__title {
  text-align: center;
  margin-bottom: 40px;
}

.legend__subtitle {
  margin-bottom: 23px;
}

.hall__input {
  appearance: none;
  position: absolute;
}

.hall__label {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.33333;
  text-transform: uppercase;
  text-align: center;
  color: var(--black-color);
  border-radius: 8px;
  background: var(--white-color);
  flex: 0 1 250px;
  padding: 8px 0;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: all;
  outline: 1px solid transparent;
}

.hall__label:hover {
  outline: 3px solid var(--purple-color);
  background-color: var(--secondary-white-color);
}

.hall__input:focus+.hall__label {
  outline: 3px solid var(--purple-color);
  background-color: var(--white-color);
}

.hall__input:active+.hall__label {
  outline: 3px solid var(--white-color);
  background-color: var(--darkpurple-color);
}

/*------------ Собери набор развлечений--------- */

.set__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.set__fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

/* ----------------radio приставка */
.set__input {
  position: absolute;
  appearance: none;
  transition-duration: 200ms;
  transition-property: all;
}

.set__span {
  position: relative;
  padding-left: 35px;
}

.set__span:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid var(--darkwhite-color);
  border-radius: 50%;
  background-color: var(--white-color);
}

.set__span:after {
  content: '';
  position: absolute;
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background-color: var(--lightpurple-color);
  opacity: 0;
  transition: .2s;
}

.set__input:checked+.set__span:after {
  opacity: 1;
}

.set__input:focus+.set__span:before {
  outline: 1px solid var(--lightpurple-color);
  outline-offset: 1px;
}


/*todo------checkbox- настольные игры - Дополнительно*/
.set__game-label {
  position: relative;
  margin-left: 35px;
}

.set__game-input {
  position: absolute;
  appearance: none;
  transition-duration: 200ms;
}

.set__game-input::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  background-color: var(--white-color);
  margin-left: -35px;
}

.set__game-input:after {
  content: '';
  position: absolute;
  top: 4px;
  left: -33px;
  width: 17px;
  height: 10px;
  border: 3px solid var(--lightpurple-color);
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.set__game-input:checked:after {
  opacity: 1
}

.set__game-input:focus::before {
  outline: 1px solid var(--lightpurple-color);
  outline-offset: 1px;
}

/* ---------Выбери дату и время----------------------- */
.date {
  margin-bottom: 40px;
}

.date__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.date__fieldset {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex-basis: 300px;
}

.date__fieldset_w_280 {
  flex-basis: 280px;
}

.date__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  display: block;
}

.date__label_mb {
  margin-bottom: 6px;
}

.date-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
  gap: 32px;
}

.date__input {
  display: inline-block;
  outline: none;
  height: 52px;
  width: 100%;
  padding-left: 20px;
  transition-duration: 200ms;
}

.date__input:focus {
  border: 2px solid var(--lightpurple-color);
  background-color: var(--white-color);
}

.date__input::placeholder {
  font-size: 18px;
  line-height: 1.55556;
  color: #211e1e;
  padding-left: 12px;
  background: url("../img/arrow.svg") right 19px top 1px no-repeat;
}


/* --------------------кнопка */
.form__btn {
  display: flex;
  justify-content: flex-end;
}

.form__button {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.27273;
  text-transform: uppercase;
  color: var(--darkpurple-color);
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 16px 50px;
  transition-duration: 200ms;
}

.form__button:hover {
  outline: 3px solid var(--darkpurple-color);
  background-color: var(--secondary-white-color);
}

.form__button:focus {
  outline: 3px solid var(--darkpurple-color);
  background-color: var(--white-color);
}

.form__button:active {
  background-color: var(--secondary-white-color);
}