:root {
  --white-color: #fff;
  --black-color: #000;
  --lightpurple-color: #cd06ff;
  --darkpurple-color: #6c0287;
  --purple-color: #640aa3;
  --secondary-pur-color: #840aa3;
  --secondary-white-color: #eadeed;
  --darkwhite-color: #CDD1DA;
  --lightdark-color: #c4c4c400;
  --backgraund-color: #440f51;
  scroll-behavior: smooth;
}